.blogSection{
    background-color: #070c28;
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  width: 100%;
}
.blog-section-details-div {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px 0;
  }
  .blogDetailsText {
    font-family: 'Space Grotesk';
    font-weight: 700;
    font-size: 40px;
    background: linear-gradient(180deg, #fff 5.28%, #3d3e45 100%);
    margin-top: -20px;
    margin-bottom: -20px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: start;
    line-height: 50px;
  }
  
  
  .logo-date-main {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .logo-date-main p {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 500;
    color: rgba(143, 155, 183, 1);
  }
  .logo-left-main {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 50%;
    flex-grow: 1;
    max-width: 200px;
  }
  .logo-left-main {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 50%;
    flex-grow: 1;
    max-width: 200px;
  }
  .vertical-line {
    border: 1px solid rgba(143, 155, 183, 1);
    height: 20px;
    margin-right: 20px;
  }
  .logo-right-main {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 50%;
    flex-grow: 1;
    max-width: 200px;
  }  
  
.main-content-blogDetails {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 25px;
  }
  .main-content-left-side {
    display: flex;
                            /* pintu changes */
    flex-direction: row;
    flex-grow: 1;
    width: 180px;
    gap: 25px;
  }
  .inner-left {
    display: flex;
   
    border-radius: 10px;
    align-items: flex-start;
    flex-direction: column;
    padding: 15px 6px 15px 6px;
    gap: 15px;
                            
    
  }
  .content-inner-left {
    display: flex;
    border-radius: 10px;
    align-items: flex-start;
    flex-direction: column;
    gap: 15px;
    width: 100%;
   
    overflow: auto;
  }
  .inner-left h5 {
    font-family: 'Space Grotesk';
    font-size: 16px;
    font-weight: 700;
    color: rgba(143, 155, 183, 1);
  }
  
  .inner-left p {
    margin: 3px;
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    color: white;
    white-space: break-spaces;
  }
  .inner-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    
    cursor: pointer;
  }
  
  .inner-content-normal {
    font-family: 'Inter' !important;
    font-weight: 400 !important;
    font-size: 25px !important;
    letter-spacing: 1px !important;
  }
  
  .inner-content-bold {
    color: white !important;
    font-family: 'Inter' !important;
    font-weight: 600 !important;
    font-size: 25px !important;
    letter-spacing: 1px !important;
  }