.blogcontets{
    width: 390px;
    background-color: #0a1035;
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    border-radius: 20px;
    margin: 20px;
    
.blogtit{
    display: flex;
    flex-direction: column;
    gap: 10px;


        

    }
    img{
        width: 100%;
        height: 150px;
        border-radius: 20px;
    }

}
.des{
    display: flex;
    
    width: max-content;
    padding-top: 10px;
    flex-direction: column;
    gap: 10px;

    
    .title{
        color: white;        ;
        font-size: 25px;

    
    

}
}
.modalcontent{
    display: flex;
    flex-direction: column;
    gap: 10px;
    .title{
        color: white;
        font-size: 25px;
    }
    .modalbtt{
        display: flex;
        justify-content: flex-end;
        gap: 10px;
        .btt{
            background-color: #1b3298;
         color: white;
         padding: 5px 20px;
         font-weight: 500;
         height: 40px;
         border: none;
         cursor: pointer;
         border-radius: 10px;
         font-size: 16px;
        }

    }
}